# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# docs
*.docx 